body {
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: #fff;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

.card {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

button {
  background: orange;
  font-weight: bold;
  cursor: pointer;
}

.info {
  font-size: 12px;
  color: #aaa;
}
